body {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 82px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    gap: 16px;
    width: 100%;
    position: fixed;
    background-color: #004d00;
}

.home-icon {
    font-size: 24px;
    padding: 16px;
    background-color: #008000;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 8px;
    padding: 16px;
    background-color: #006600;
}

a {
    text-decoration: none;
}

.welcome-wrapper, .about-wrapper, .blog-wrapper, .portfolio-wrapper, .footer-wrapper {
    border: solid 2px red;
}


/* Gallery Formatting */
.welcome-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-wrapper {
    display: flex;
    align-items: center;
}